.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px 41px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}

label {
    display: block;
}
button{
    display: block;
}

.frontpage_div_grid {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}